.App {
  text-align: center;
  font-family: Arial;
}

/* The answer selecteed by the user */
.selected {
  background-color: rgb(255, 0, 0);
}

/* The list of options */
.options {
  padding: 4px;
  border: 2px solid rgb(124, 30, 30);
  cursor: pointer;
}

ul {
  list-style-type: none;
}

body {
  font-family: Verdana;
  font-size: 18px;
  background-color: #0c0a0b; 
  color: rgb(237, 245, 241);
}




